.flexx{
    display: flex;
}
.justifyy-center{
    justify-content: center;
}

.itemss-center{
    align-items: center;
}
.bgg-black{
    background-color: black;
    color: white;
}
.invertt{
    filter:invert(1) ;
}
.logoo{
    padding: 2px;
}
.bg-greyy{
    background-color: #121212;
}
.roundedd{
border-radius: 7px ;    
}
.mm-1{
    margin: 7px;
}
.pp-1{
    padding: 5px;
}