
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 1px;
    padding: 1px;
    font-family: "Roboto", sans-serif;
    
}
body{
    background-color: black;
    color: white;
}
.container{
    width: 350px;
    background-color: #242424;
    float: left;

}
.after-playlist{
    height: 320px;

}
.left{
    width: 350px;
    padding: 0px;   
    background-color: ; 
    
}

.home ul li{
    display: flex;
    gap: 15px;
          width: 24px;
          list-style: none;
          padding-top: 14px;
          font-size: 16px;
          font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
          width: 100%;
          list-style: none;
          padding-top: 14px;
          padding-left: 23px;
          padding-right: 14px;
          font-weight: bold;
          align-items: center;
}
.your-lab{
color: #a7a7a7;
font-size: 12px;
padding: 4px 8px;
    background-color: #141414;


}
.your-lab img{
    gap: 10px;
}
.heading img{
    width: 24px;

}
.home{
    padding: 15px;
}
.footer{
     display: flex;
     flex-wrap:wrap;
     font-size: 11px;
     gap: 13px;
     position: absolute;
     bottom: 0;
     margin: 25px 0px 20px 1px;
     padding: 0px 20px;

     
   
}
.footer a{
     text-decoration: none;
     color: #a7a7a7;
     margin: 6px;

}
.library{
    position: relative;

}
.heading::after{
    content: '+';
    float: right;    
    text-align: center;
    border-radius: 50%;
}


.create-playlist{
    width: 235px;
   color: #FFFFFF;
   margin: 8px;
    padding: 14px 20px;
    height: 120px;
    border-radius: 20px;
    background-color: #242424;



}
.create-playlist h4{
    font-size: 16px;
    }
.create-playlist p{
font-size: 13px;
}
button{
    color: black;
    border-radius: 50px;
    width: 119.5px;
    height: 32px;
    font-size: 13px;
    margin: 8px 0px 0px 2px;
    padding: 4px 16px;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.englis{
    padding: 20px 30px;
}
.englis button{
margin-left: 10px;
box-shadow: 0.2px 0.2px;
}
button img{
    width:16px ;
}
.eng{

}
.sidebar-scroll{
    height: 200px;
    overflow-y: auto;
}
.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: rgb(81, 80, 80);
    width: 10px;
}
















