.arcontainer{
    
    padding-top: 280px;
    padding-bottom: 280px;
    padding-left: 200px;
}
.bold{
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 40px;
}
.back{
    margin-left: 210px;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #666666;
    font-size: larger;
}